################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CircuitBreakerGUI/bin
/CircuitBreakerGUI/obj
/WcfService/bin
/WcfService/obj